:root {
  --color-main: #343030;
  --color-white: #ffffff;
  --button-bg: #403432;
  --button-basket: #5B3A32;
  --button-hover: #776763;
  --button-disabled: #C1B4B1; }

body {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  color: var(--color-main);
  background: #E5E5E5; }

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.content {
  height: calc(100vh - 284px);
  padding: 45px 0;
  background: #E5E5E5; }

.button-box {
  position: relative;
  cursor: pointer; }

.custom-button {
  min-height: 48px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--color-white);
  background: var(--button-bg);
  transition: all 400ms ease; }
  .custom-button:hover {
    background: var(--button-hover); }

.content-title {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 39px; }

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.loader {
  width: 30px;
  height: 30px;
  margin: 10px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-radius: 50%;
  border-top: 2px solid #d9d6d6;
  border-right: 2px solid #d9d6d6;
  border-bottom: 2px solid #d9d6d6;
  border-left: 2px solid #403432;
  -webkit-animation: load8 .5s infinite linear;
  animation: load8 .5s infinite linear; }
  .loader:after {
    border-radius: 50%;
    width: 30px;
    height: 30px; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
